fastapi
pandas
vercel
uvicorn
dotenv
PyGithub
openai
Pillow
bs4
httpx
requests_html
lxml_html_clean
playwright
SpeechRecognition
pydub
PyPDF2
pytesseract
python-dotenv
chromium-browser
libnss3
libgconf-2-4
libatk1.0-0
libatk-bridge2.0-0
libgtk-3-0
libx11-6
libxcomposite-dev
libxcursor1
libxdamage1
libxrandr2
libxi6
libasound2
libxtst6
libglib2.0-0
libdrm2